.main {
  display: flex;
  justify-content: center;
  height: calc(100% - (4rem));
}

.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: #1c1c21;
  height: 4rem;
}

.app {
  display: flex;
  flex-direction: column;
}
