.header {
  display: flex;
  justify-content: space-between;
}

.modal {
  min-width: 720px;
  min-height: 50vh;
  background: #1c1c21;
  opacity: 1;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  position: absolute;
  z-index: 999;
}

.modalWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
}
