.header {
  width: 1200px;
  display: flex;
  position: relative;
  height: 4rem;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: #1c1c21;
}

.spacing {
  flex-grow: 1;
}

.header__box {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.header__box:first-child > span {
  margin-right: auto;
}

.header__box:last-child > span {
  margin-left: auto;
}
