.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__image {
  width: 30rem;
}

.footer {
  display: flex;
  gap: 20px;
}

.footer__subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
