div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90% !important;
}

.content {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderId {
  margin-top: -3rem;
  margin-bottom: 2rem;
  width: 2rem;
}

.status {
  color: #00cccc;
}

.ingredientsWrapper {
  overflow-y: scroll;
  height: 35vh;
}

.ingredients {
  list-style-type: none;
  padding-left: 0;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient__img {
  width: 64px;
  height: 64px;
  outline: 1px solid red;
  background: #131316;
  border-radius: 100px;
}

.ingredient__spacer {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer_overallPrice {
  display: flex;
}

.ingredient_border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(90deg, #801ab2, #4c4cff);
  border-radius: 50%;
}

.ingredient_content {
  width: 3.8rem;
  height: 3.8rem;
  object-fit: contain;
  background: #000;
  border-radius: 50%;
}

.orderStatusText_done,
.orderStatusText_pending {
  color: #00cccc;
}

.orderStatusText_canceled {
  color: #e52b1a;
}
