.listWrapper {
  overflow-y: scroll;
  height: 50vh;
}

.list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex-basis: 600px;
}

.tabs {
  display: flex;
}
